/* Global Reset y Configuración General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(../img/imagenes/imagen\ 2.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

/* Portada del Login */
.login-container-cover {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/imagenes/imagen\ 2.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container-cover:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(131, 61, 61, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover {
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1 {
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

.container-info-cover p {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

/* Caja del Login y Registro */
.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
    border-radius: 15px;
}

.caja__trasera div {
    color: white;
    text-align: center;
    margin: 20px;
    transition: all 500ms;
}

.caja__trasera h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button {
    padding: 10px 40px;
    margin-top: 20px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: all 300ms;
}

.caja__trasera button:hover {
    background: #fff;
    color: #46a2fd;
}

/* Formularios de Login y Registro */
.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form {
    width: 100%;
    padding: 40px 20px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
}

.contenedor__login-register h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46a2fd;
}

.contenedor__login-register input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
}

.contenedor__login-register button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46a2fd;
    color: white;
    cursor: pointer;
}

/* Formularios Ocultos */
.formulario__login {
    display: block;
    opacity: 1;
}

.formulario__register {
    display: none;
}

/* Diseño Responsivo */
@media screen and (max-width: 850px) {
    main {
        margin-top: 50px;
    }

    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form {
        position: relative;
    }
}
